<div class="back3 backheight" id="back2">
	
</div>
<!--<div class="back-video">
			<video autoplay="autoplay" muted="muted" preload="preload" loop="loop">
				<source src="/img/back2.webm">
			</video>
</div>-->
<main class="wrapper">
	<div class="charter">
		<h1>Устав гильдии</h1>
		<ol class="charter-list text-font-fam">
			<li class="charter-item">
				<span>Общие положения</span>
				<ol>
				<li>Устав является основным документом Гильдии.</li>
				<li>Устав обязателен к соблюдению всеми членами Гильдии.</li>
				<li>Незнание или непонимание Устава не отменяет ответственность за его несоблюдение.</li>
				<li>Во всех спорных вопросах игроки имеют право ссылаться на Устав.</li>
				<li>Решение об изменении и дополнении Устава принимается Главой Гильдии.</li>
				</ol>
			</li>
			<li class="charter-item">
				<span>Цели деятельности Гильдии Смертельный Союз</span>
				<ol>
				<li>Основная цель Гильдии Смертельный Союз - собрать всех игроков под наши знамёна.</li>
				<li>Борьба с противоположной фракцией.</li>
				<li>Создание PvE крыла.</li>
				<li>Гильдия может иметь иные цели, не противоречащие правилам игры World of Warcraft.</li>
				<li>Все запланированные гильд ивенты и мобилизации обязательные к посещению.</li>
				</ol>
			</li>
			<li class="charter-item">
				<span>Управление в Гильдии Смертельный Союз</span>
				<ol>
				<li>Высшим органом управления в гильдии являются Офицеры (под председательством Главы Гильдии).</li>
				<li>Органом управления внутренними делами Гильдии являются Офицеры.</li>
				<li>Офицеры принимают участие в обсуждении и голосовании при принятии решений по всем внутренним вопросам Гильдии.</li>
				<li>Утверждаются решения только Зам Гм/Главой Гильдии.</li>
				</ol>
			</li>
			<li class="charter-item">
				<span>Каждый член Гильдии обязан</span>
				<ol>
				<li>Иметь заметку по типу: имя/спек.</li>
				<li>Быть на мобилизациях. В случае неявки без уважительной причины, к нарушителю будут применены штрафные меры.</li>
				<li>В случае если игрок без уважительной причины опаздывает на Рейд-тайм, к нарушителю будут применены штрафные меры.</li>
				<li>Безукоризненно выполнять указания своих Офицеров/Зам Гм и Главы Гильдии. В случае несогласия с приказом, член Гильдии может обжаловать его у Главы гильдии.</li>
				<li>За убийство своего согильдийца, к игроку совершившему преступление будут применены штрафные меры в размере 500 золотых. Если член Гильдии продолжает убивать своих согильдийцев - исключение из Гильдии.</li>
				<li>Основной состав статика должен быть ознакомлен с механикой и тактикой боя с рейдовым боссом.</li>
				</ol>
			</li>
			<li class="charter-item">
				<span>Казна гильдии</span>
				<ol>
				<li>Гильдия обладает внутриигровыми ценностями - Казной.</li>
				<li>Назначение Казны - хранение и выделение ценностей для поддержания и обеспечения нужд Гильдии в целом.</li>
				<li>Управление Казной осуществляет Зам Гм/Глава Гильдии и назначенный Офицер.</li>
				</ol>
			</li>
			<li class="charter-item">
				<span>В чатах запрещается</span>
				<ol>
				<li>Оскорбления (как прямые, так и завуалированные - тролинг) в адрес других игроков.</li>
				<li>Высказывания антигильдейской направленности.</li>
				</ol>
			</li>
			<li class="charter-item">
				<span>Всем, без исключения, запрещается</span>
				<ol>
				<li>Нарушать внутриигровые правила.</li>
				<li>Попрошайничать и дескридитировать доброе имя Гильдии.</li>
				<li>Поступать не честно по отношению к другим игрокам</li>
				<li>Хамить и оскорблять игроков.</li>
				<li>Обсуждение решений, позиций, действий и всей жизни Гильдии с игроками, не состоящими в Гильдии.</li>
				<li>Принимать стратегические решения (объявлять войны, союзы и т.п.) без решения Главы гильдии.</li>
				<li>Убийство своего согильдийца (о нарушении более подробно в пункте 4.5).</li>
				</ol>
			</li>
		</ol>
	</div>
	
</main>