/*media (max-width: 320px) {
	.bm-item a
	{
		font-size: 15px!important;
		line-height: 4em!important;
	}
	.title-block h1
	{
		font-size: 40px!important;
	}
	.title-block h1:before
	{
		font-size: 12px!important;
		top: 10px!important;
	}
	.aboutus h2
	{
		font-size: 30px!important;
	}
	.aboutus p
	{
		font-size: 17px!important;
	}
	.article-conteiner article .video
	{
		height: 340px !important;
	}
	.slider-container .slider-item
	{
		width: 230px!important;
	}
	.slider-container .slider-item img
	{
		width: 229px!important;
	}
	footer .foot .foot-span-text
	{
		font-size: 14px!important;
	}

	/*вступить*/

	/*.wrapper
	{
		margin-top: 45%!important;
	}
	.backheight
	{
		min-height: 3585px;	
	}
	.backheight2
	{
		min-height: 1000px;
	}
	.title-font-fam 
	{
		font-size: 30px!important;
	}
	.joinus h1
	{
		font-size: 40px!important;
	}
	.joinus ol
	{
		padding-left: 20px!important;
	}
	.joinus ol li
	{
		font-size: 20px!important;
	}
	.joinus a
	{
		font-size: 20px!important;
	}
	.joinus span
	{
		font-size: 23px!important;
	}
}*/