@media only screen and (min-width : 768px) and (max-width : 1024px) {
	.wrapper-head
	{
		display: none!important;
	}
	.burger-menu-icon
	{
		display: block!important;
	}
	/*.back2
	{
		background: url("../img/1.jpg")!important;
		background-attachment: fixed!important;
		background-size: 100% 100%!important;
		background-position: center center!important;
		background-repeat: repeat-y!important;
	}
	*/	.charter
	{
		background: #000000!important;
		//background-attachment: fixed!important;
		//background-size: 100% 100%!important;
	}
}